In [1]:
# import dependencies
import pandas as pd
import matplotlib as plt

In [40]:
# import the dataset
team_Data = pd.read_csv("Resources/teamData.csv")
player_Data = pd.read_csv("Resources/playerData.csv")
cross_ref = pd.read_csv("Resources/crossReference.csv")

In [41]:
cross_ref

          Team   TM
0        76ers  PHI
1   Blackhawks  TRI
2      Bobcats  CHA
3      Bommers  STB
4       Braves  BLB
..         ...  ...
58    Warriors  GSW
59    Warriors  PHW
60    Warriors  SFW
61     Wizards  WAS
62     Zephers  CHZ

[63 rows x 2 columns]

In [44]:
# load the data
del team_Data["TM"]
team_Data

      Year     Team Record  Winning Percentage
0     1964    76ers  34-46               0.425
1     1965    76ers  40-40               0.500
2     1966    76ers  55-25               0.688
3     1967    76ers  68-13               0.840
4     1968    76ers  62-20               0.756
...    ...      ...    ...                 ...
1412  2014  Wizards  44-38               0.537
1413  2015  Wizards  46-36               0.561
1414  2016  Wizards  41-41               0.500
1415  2017  Wizards  23-20               0.535
1416  1963  Zephyrs  25-55               0.313

[1417 rows x 4 columns]

In [45]:
combined_team_data = pd.merge(team_Data, cross_ref, on="Team")
combined_team_data

      Year     Team Record  Winning Percentage   TM
0     1964    76ers  34-46               0.425  PHI
1     1965    76ers  40-40               0.500  PHI
2     1966    76ers  55-25               0.688  PHI
3     1967    76ers  68-13               0.840  PHI
4     1968    76ers  62-20               0.756  PHI
...    ...      ...    ...                 ...  ...
2278  2013  Wizards  29-53               0.354  WAS
2279  2014  Wizards  44-38               0.537  WAS
2280  2015  Wizards  46-36               0.561  WAS
2281  2016  Wizards  41-41               0.500  WAS
2282  2017  Wizards  23-20               0.535  WAS

[2283 rows x 5 columns]

In [48]:
combined_team_data = combined_team_data.loc[(combined_team_data["Year"] >= 1986) & (combined_team_data["Year"]< 2018)]
combined_team_data

      Year     Team Record  Winning Percentage   TM
22    1986    76ers  54-28               0.659  PHI
23    1987    76ers  45-37               0.549  PHI
24    1988    76ers  36-46               0.439  PHI
25    1989    76ers  46-36               0.561  PHI
26    1990    76ers  53-29               0.646  PHI
...    ...      ...    ...                 ...  ...
2278  2013  Wizards  29-53               0.354  WAS
2279  2014  Wizards  44-38               0.537  WAS
2280  2015  Wizards  46-36               0.561  WAS
2281  2016  Wizards  41-41               0.500  WAS
2282  2017  Wizards  23-20               0.535  WAS

[1441 rows x 5 columns]

In [49]:
combined_team_data["TM"].value_counts()

NYK    32
DET    32
MLH    32
NJN    32
MIL    32
NYN    32
DEN    32
CHI    32
DAL    32
PHI    32
PHO    32
SFW    32
PHW    32
HOU    32
SAS    32
SDR    32
KCK    32
BRK    32
POR    32
NOJ    32
SAC    32
MNL    32
IND    32
KCO    32
LAC    32
FTW    32
UTA    32
GSW    32
CLE    32
BOS    32
ATL    32
LAL    32
STL    32
SDC    32
MIA    29
NOK    28
ORL    28
NOH    28
MIN    28
CHO    28
CHH    28
SEA    23
VAN    22
MEM    22
TOR    22
WAS    20
WSB    12
BAL    12
CHA    10
OKC     9
NOP     4
Name: TM, dtype: int64

In [4]:
player_Data.head()

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,10,1950.0,Charlie Black,F-C,28.0,AND,29.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,88.0,NaN,NaN,NaN,133.0,279.0
1,19,1950.0,Frankie Brian,G,26.0,AND,64.0,NaN,NaN,NaN,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
2,31,1950.0,Jake Carter,F-C,25.0,AND,11.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,8.0,NaN,NaN,NaN,32.0,38.0
3,37,1950.0,Bill Closs,SF,28.0,AND,64.0,NaN,NaN,NaN,...,0.718,NaN,NaN,NaN,160.0,NaN,NaN,NaN,190.0,752.0
4,73,1950.0,Frank Gates,G,29.0,AND,64.0,NaN,NaN,NaN,...,0.622,NaN,NaN,NaN,91.0,NaN,NaN,NaN,147.0,287.0

In [5]:
# Merging Crossreference_data and player_data - NOTE: We need to check the types of the years first

player_Data["Year"].dtypes

dtype('float64')

In [18]:
# Taking player Dataframe from 1986 till 2017
player_Data = player_Data.loc[(player_Data["Year"] >= 1986.0) & (player_Data["Year"]< 2018.0)]
player_Data["Year"] = player_Data["Year"].astype(int)
player_Data

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
263,7937,1986,John Battle,SG,23.0,ATL,64.0,0.0,639.0,11.7,...,0.728,12.0,50.0,62.0,74.0,23.0,3.0,47.0,80.0,277.0
264,7963,1986,Antoine Carr,PF,24.0,ATL,17.0,0.0,258.0,14.4,...,0.667,16.0,36.0,52.0,14.0,7.0,15.0,14.0,51.0,116.0
265,7973,1986,Lorenzo Charles,SF,22.0,ATL,36.0,0.0,273.0,11.5,...,0.667,13.0,26.0,39.0,8.0,2.0,6.0,18.0,37.0,122.0
266,8000,1986,Johnny Davis,SG,30.0,ATL,27.0,7.0,402.0,13.9,...,0.864,2.0,17.0,19.0,112.0,13.0,0.0,38.0,32.0,144.0
267,8050,1986,Scott Hastings,PF,25.0,ATL,62.0,0.0,650.0,7.5,...,0.857,44.0,80.0,124.0,26.0,14.0,8.0,40.0,118.0,193.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24592,13341,1997,Rod Strickland,PG,30.0,WSB,82.0,81.0,2997.0,19.7,...,0.738,95.0,240.0,335.0,727.0,143.0,14.0,270.0,166.0,1410.0
24593,13365,1997,Ben Wallace,PF,22.0,WSB,34.0,0.0,197.0,6.0,...,0.300,25.0,33.0,58.0,2.0,8.0,11.0,18.0,27.0,38.0
24594,13374,1997,Chris Webber,PF,23.0,WSB,72.0,72.0,2806.0,21.8,...,0.565,238.0,505.0,743.0,331.0,122.0,137.0,230.0,258.0,1445.0
24595,13382,1997,Chris Whitney,PG,25.0,WSB,82.0,1.0,1117.0,15.2,...,0.832,13.0,91.0,104.0,182.0,49.0,4.0,68.0,100.0,430.0
24596,13394,1997,Lorenzo Williams,C,27.0,WSB,19.0,0.0,264.0,8.0,...,0.714,28.0,41.0,69.0,4.0,6.0,8.0,18.0,49.0,45.0

In [51]:
complete_nba_data = pd.merge(player_Data, combined_team_data, left_on=["Tm","Year"], right_on=["TM","Year"])
complete_nba_data

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,AST,STL,BLK,TOV,PF,PTS,Team,Record,Winning Percentage,TM
0,7937,1986.0,John Battle,SG,23.0,ATL,64.0,0.0,639.0,11.7,...,74.0,23.0,3.0,47.0,80.0,277.0,Hawks,50-32,0.610,ATL
1,7963,1986.0,Antoine Carr,PF,24.0,ATL,17.0,0.0,258.0,14.4,...,14.0,7.0,15.0,14.0,51.0,116.0,Hawks,50-32,0.610,ATL
2,7973,1986.0,Lorenzo Charles,SF,22.0,ATL,36.0,0.0,273.0,11.5,...,8.0,2.0,6.0,18.0,37.0,122.0,Hawks,50-32,0.610,ATL
3,8000,1986.0,Johnny Davis,SG,30.0,ATL,27.0,7.0,402.0,13.9,...,112.0,13.0,0.0,38.0,32.0,144.0,Hawks,50-32,0.610,ATL
4,8050,1986.0,Scott Hastings,PF,25.0,ATL,62.0,0.0,650.0,7.5,...,26.0,14.0,8.0,40.0,118.0,193.0,Hawks,50-32,0.610,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15257,13341,1997.0,Rod Strickland,PG,30.0,WSB,82.0,81.0,2997.0,19.7,...,727.0,143.0,14.0,270.0,166.0,1410.0,Bullets,44-38,0.537,WSB
15258,13365,1997.0,Ben Wallace,PF,22.0,WSB,34.0,0.0,197.0,6.0,...,2.0,8.0,11.0,18.0,27.0,38.0,Bullets,44-38,0.537,WSB
15259,13374,1997.0,Chris Webber,PF,23.0,WSB,72.0,72.0,2806.0,21.8,...,331.0,122.0,137.0,230.0,258.0,1445.0,Bullets,44-38,0.537,WSB
15260,13382,1997.0,Chris Whitney,PG,25.0,WSB,82.0,1.0,1117.0,15.2,...,182.0,49.0,4.0,68.0,100.0,430.0,Bullets,44-38,0.537,WSB
15261,13394,1997.0,Lorenzo Williams,C,27.0,WSB,19.0,0.0,264.0,8.0,...,4.0,6.0,8.0,18.0,49.0,45.0,Bullets,44-38,0.537,WSB