In [3]:
# import dependencies
import pandas as pd
import matplotlib as plt

In [4]:
# import the dataset
team_data = pd.read_csv("Resources/teamData.csv")
player_data = pd.read_csv("Resources/playerData.csv")
cross_reference = pd.read_csv("Resources/crossReference.csv")

In [6]:
# load the data
team_data.head()

   Year   Team Record  Winning Percentage   TM
0  1964  76ers  34-46               0.425  PHI
1  1965  76ers  40-40               0.500  PHI
2  1966  76ers  55-25               0.688  PHI
3  1967  76ers  68-13               0.840  PHI
4  1968  76ers  62-20               0.756  PHI

In [7]:
player_data.head()

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,10,1950.0,Charlie Black,F-C,28.0,AND,29.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,88.0,NaN,NaN,NaN,133.0,279.0
1,19,1950.0,Frankie Brian,G,26.0,AND,64.0,NaN,NaN,NaN,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
2,31,1950.0,Jake Carter,F-C,25.0,AND,11.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,8.0,NaN,NaN,NaN,32.0,38.0
3,37,1950.0,Bill Closs,SF,28.0,AND,64.0,NaN,NaN,NaN,...,0.718,NaN,NaN,NaN,160.0,NaN,NaN,NaN,190.0,752.0
4,73,1950.0,Frank Gates,G,29.0,AND,64.0,NaN,NaN,NaN,...,0.622,NaN,NaN,NaN,91.0,NaN,NaN,NaN,147.0,287.0

In [11]:
cross_reference.head()

         Team   TM
0       76ers  PHI
1  Blackhawks  TRI
2     Bobcats  CHA
3     Bommers  STB
4      Braves  BLB

In [12]:
combined_team_data = pd.merge(team_data, cross_reference, on="Team")

In [15]:
# Merging Crossreference_data and player_data - NOTE: We need to check the types of the years first
print(team_data['Year'].dtypes)
print(player_data["Year"].dtypes)

int64
float64

In [16]:
# Taking player Dataframe from 1986 till 2017
player_data = player_data.loc[(player_data["Year"] >= 1986.0) & (player_data["Year"]< 2018.0)]
player_data["Year"] = player_data["Year"].astype(int)
player_data

NameError: name 'player_Data' is not defined

In [51]:
complete_nba_data = pd.merge(player_Data, combined_team_data, left_on=["Tm","Year"], right_on=["TM","Year"])
complete_nba_data

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,AST,STL,BLK,TOV,PF,PTS,Team,Record,Winning Percentage,TM
0,7937,1986.0,John Battle,SG,23.0,ATL,64.0,0.0,639.0,11.7,...,74.0,23.0,3.0,47.0,80.0,277.0,Hawks,50-32,0.610,ATL
1,7963,1986.0,Antoine Carr,PF,24.0,ATL,17.0,0.0,258.0,14.4,...,14.0,7.0,15.0,14.0,51.0,116.0,Hawks,50-32,0.610,ATL
2,7973,1986.0,Lorenzo Charles,SF,22.0,ATL,36.0,0.0,273.0,11.5,...,8.0,2.0,6.0,18.0,37.0,122.0,Hawks,50-32,0.610,ATL
3,8000,1986.0,Johnny Davis,SG,30.0,ATL,27.0,7.0,402.0,13.9,...,112.0,13.0,0.0,38.0,32.0,144.0,Hawks,50-32,0.610,ATL
4,8050,1986.0,Scott Hastings,PF,25.0,ATL,62.0,0.0,650.0,7.5,...,26.0,14.0,8.0,40.0,118.0,193.0,Hawks,50-32,0.610,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15257,13341,1997.0,Rod Strickland,PG,30.0,WSB,82.0,81.0,2997.0,19.7,...,727.0,143.0,14.0,270.0,166.0,1410.0,Bullets,44-38,0.537,WSB
15258,13365,1997.0,Ben Wallace,PF,22.0,WSB,34.0,0.0,197.0,6.0,...,2.0,8.0,11.0,18.0,27.0,38.0,Bullets,44-38,0.537,WSB
15259,13374,1997.0,Chris Webber,PF,23.0,WSB,72.0,72.0,2806.0,21.8,...,331.0,122.0,137.0,230.0,258.0,1445.0,Bullets,44-38,0.537,WSB
15260,13382,1997.0,Chris Whitney,PG,25.0,WSB,82.0,1.0,1117.0,15.2,...,182.0,49.0,4.0,68.0,100.0,430.0,Bullets,44-38,0.537,WSB
15261,13394,1997.0,Lorenzo Williams,C,27.0,WSB,19.0,0.0,264.0,8.0,...,4.0,6.0,8.0,18.0,49.0,45.0,Bullets,44-38,0.537,WSB